body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  background: #42d392;
  color: #213457;
  border: 1px;
  border-radius: 4px;
  padding: 10px 30px 10px 30px;
  font-size: 16px;
  text-decoration: none;
  max-width: 200px;

  &:disabled {
    background: white;
  }
}

.button:hover {
  cursor: pointer;
}

body {
  background: #181818;
  color: var(--color-text);
}

:root {
  --light-green: #42d392;
}


.navbar {
  flex-direction: row;
  display: flex;
  width: 100%;
  border: 1px black;
  justify-content: space-evenly;
}

.navbar__header {
  color: white;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.green-border {
  border-radius: 4px;
  border: 2px solid var(--light-green);
}

.login {
  .form {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 30px;
    font-size: 16px;

    &__header {
      color: white;
    }

    &__button:disabled {
      background: white;
    }

    input {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      border: none;
    }
  }

  .container {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px;
    text-align:center;
  }
}

.article-container {
  display: grid;
  grid-gap: 10px;
  margin: 10px;
}

@media (min-width: 600px) {
  .article-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .article-container { grid-template-columns: repeat(3, 1fr); }
}

.article {
  min-height: 400px;
  max-height: 400px;

  &__image {
    width: 100%;
    height: 250px;
  }

  &__text {
    padding: 5px;
  }

  &__link {
    color: white;
    min-height: 80px;
  }
}